[submodule "trafficGame"]
	path = projects/trafficGame
	url = https://github.com/parsoFish/trafficGame.git
[submodule "simplarr"]
	path = projects/simplarr
	url = https://github.com/parsoFish/simplarr.git
[submodule "GitWeave"]
	path = projects/GitWeave
	url = https://github.com/parsoFish/GitWeave.git
[submodule "env-optimiser"]
	path = projects/env-optimiser
	url = https://github.com/parsoFish/env-optimiser.git
